/* GLOBAL */
body {
    background: #121212;
    color: #ddd;
    font-family: Arial, sans-serif;
}

/* ACCENT COLOR */
:root {
    --accent: #838b97; /* Electric Blue */
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(140deg, #0b0b0b, #101522);
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid var(--accent);
}

/* HERO BUTTON */
.btn-accent {
    border: 2px solid var(--accent);
    color: var(--accent);
    transition: 0.3s;
}
.btn-accent:hover {
    background: var(--accent);
    color: #fff;
}

/* SECTIONS */
.section-dark {
    background: #141414;
    color: #ccc;
}

.section-darker {
    background: #0f0f0f;
    color: #ccc;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    color: var(--accent);
}

.section-text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

/* SKILLS */
.skill-card {
    background: #1a1a1a;
    padding: 20px;
    color: #eee;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #222;
    transition: 0.3s;
}
.skill-card:hover {
    border-color: var(--accent);
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.3);
}

/* PROJECTS */
.project-card {
    background: #1a1a1a;
    border-left: 4px solid var(--accent);
    padding: 25px;
    color: #eee;
    border-radius: 8px;
    transition: 0.3s;
}
.project-card:hover {
    box-shadow: 0 0 18px rgba(59, 130, 246, 0.25);
}

/* PROJECT BUTTONS */
.btn-outline-light {
    border-color: var(--accent);
    color: var(--accent);
}
.btn-outline-light:hover {
    background: var(--accent);
    color: #fff;
}

/* FOOTER */
.footer-dark {
    background: #0a0a0a;
    border-top: 1px solid var(--accent);
}
