/* GLOBAL */
body {
    background: #121212;
    color: #ddd;
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    height: 80vh;
    background: #0b0b0b;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* SECTIONS */
.section-dark {
    background: #141414;
    color: #ccc;
}

.section-darker {
    background: #0f0f0f;
    color: #ccc;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    color: #fff;
}

.section-text {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #ccc;
}

/* SKILLS */
.skill-card {
    background: #1a1a1a;
    padding: 20px;
    color: #eee;
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}

/* PROJECTS */
.project-card {
    background: #1a1a1a;
    border-left: 4px solid #333;
    padding: 25px;
    color: #eee;
    border-radius: 8px;
}

/* FOOTER */
.footer-dark {
    background: #0a0a0a;
}
